@font-face {
	font-family: "InknutAntiqua-Black"; 
	src: url("../Frontend/font/InknutAntiqua-Black.ttf"); 
}

@font-face {
	font-family: "InknutAntiqua-Bold"; 
	src: url("../Frontend/font/InknutAntiqua-Bold.ttf"); 
}


@font-face {
	font-family: "InknutAntiqua-ExtraBold"; 
	src: url("../Frontend/font/InknutAntiqua-ExtraBold.ttf"); 
}


@font-face {
	font-family: "InknutAntiqua-Light"; 
	src: url("../Frontend/font/InknutAntiqua-Light.ttf"); 
}


@font-face {
	font-family: "InknutAntiqua-Medium"; 
	src: url("../Frontend/font/InknutAntiqua-Medium.ttf"); 
}


@font-face {
	font-family: "InknutAntiqua-Regular"; 
	src: url("../Frontend/font/InknutAntiqua-Regular.ttf"); 
}

@font-face {
	font-family: "InknutAntiqua-SemiBold"; 
	src: url("../Frontend/font/InknutAntiqua-SemiBold.ttf"); 
}

