
.switch-feld-hover-1 .switch-feld-hover-1-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}

.switch-feld-hover-1-text {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}

.switch-feld-hover-1 .switch-feld-hover-1-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.switch-feld-hover-1:hover .switch-feld-hover-1-text {
    visibility: visible;
    opacity: 1;
}

