.disclaimer:after {
  position: absolute;
  content: 'Achte darauf, dass du deine Identität im Kommentar nicht verrätst!';
  display: block;
  margin: 10px 50px;
  color: white;
  font-family: 'Open Sans';
  font-size: 13px;
}

/*https://codepen.io/lottejackson/pen/PwvjPj*/